@charset "utf8";

/* webfont */
@font-face {
    font-family: 'Cafe24Simplehae';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
ul,
img,
video,
html {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
    background-color: none;
}

a {
    text-decoration: none;
    background-color: none;
    color: inherit;
}

body {
    font-family: 'Cafe24Simplehae';
    font-size: 14px;
    line-height: 1.5em;
    color: #686666;
    /* Prevent font scaling in landscape */

    -webkit-text-size-adjust: none;
    /*Chrome, Safari, newer versions of Opera*/

    -moz-text-size-adjust: none;
    /*Firefox*/

    -ms-text-size-adjust: none;
    /*Ie*/

    -o-text-size-adjust: none;
    /*old versions of Opera*/
    overflow-x: hidden;
    overflow-y: auto;
}

#wrap {
    min-width: 1400px;
}

#header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #fff;
}

#top {
    width: 1320px;
    margin: 20px auto;
    display: flex;
    justify-content: flex-end;
}

.my_page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}

/* search */
.my_page li:nth-child(1) {
    position: relative;
}

.search_wrap {
    position: absolute;
    top: 0;
    left: -150px;
}

.search_wrap input {
    font-size: 14px;
    width: 150px;
    border: none;
    padding: 10px 0;
    border-bottom: 1px solid #686666;
    outline: none;
}

@keyframes login_point {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(1px);
    }

    75% {
        transform: translateY(2px);
    }

    100% {
        transform: translateY(0px);
    }
}

.my_page li:nth-child(2) {
    text-align: center;
    position: relative;
}

.login_point_wrap {
    position: absolute;
    top: 25px;
    left: 50%;
    margin-left: -22.21px;
    animation: login_point 0.3s linear infinite;
    transition: all 0.3;
}

.nav {
    width: 1320px;
    margin: 20px auto;
    display: flex;
}

.gnb {
    display: flex;
    justify-content: center;
    font-weight: 900;
    margin-left: 300px
}

.gnb li {
    text-align: center;
}

.gnb li a {
    display: block;
    margin: 0 50px;
}

#visual {
    width: 1920px;
    margin: 120px auto;
    height: 690px;
    background: url(../images/best/main_visual.jpg) no-repeat center;
    position: relative;
    overflow: hidden;
}

@keyframes play_record {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.record_wrap {
    width: 461px;
    height: 461px;
    position: absolute;
    top: 11%;
    left: 17%;
    animation: play_record 3s infinite linear;
}

.play_summer_wrap {
    position: absolute;
    top: 18%;
    left: 18.5%;
    z-index: 1;
}

/* tab */
#section {
    width: 100%;
    background-color: #fff;
    padding: 20px 0;
    text-align: center;
}

/*tab*/
#box1 {
    position: relative;
    display: inline-block;
}

#box1>li {
    float: left;
    display: inline-block;
    font-size: 18px;
    text-align: center;
    margin: 0 40px;
}

.tap {
    cursor: pointer;
    display: inline-block;
}

.tap img {
    border-radius: 50%;
}

.tap p {
    padding-top: 20px;
}

.recommendation {
    position: absolute;
    top: -60px;
    left: 0;
    transform: rotate(-4deg);
}

.tap>p:hover {
    color: #D5CFCF
}

.opacity {
    color: #000;
}

#box1>li.on>.box1_1 {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

#box1>li>.box1_1 {
    height: 0;
    overflow: hidden;
}

.box1_1 {

    text-align: left;

    margin: 0 auto;
}

.sales_rate_wrap {
    width: 100%;
    margin: 50px auto;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.sales_rate_wrap p {
    font-size: 46px;
    color: #D5CFCF;
}

/* 베스트아이템 */
.best_top_13 {
    width: 1320px;
    height: 917px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.best_top_13 li {
    background-color: #EBE8E8;
    position: relative;
    transform: scale(1);
}

.best_top_13 li:hover img {
    transform: scale(1.1);
    overflow: hidden;
    transition: all 1s;
}

.best_top_13 ol {
    width: 49%;
    overflow: hidden;
    line-height: 30px;
}

.best_top_13 ol li a img{
    margin-right: 400px;
}

.best_top_13 .bg_g {
    width: 99px;
    height: 42px;
    background-color: #BBBBBB;
    color: #fff;
    padding-top: 21px;
    font-size: 27px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
}


.best_top_13 .cover {
    background-color: rgba(255, 255, 255, 0.5);
    width: 654px;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 30px;
    white-space: pre-line;
    text-align: left;
    transform: translateY(300px);
    padding-left: 20px;
    box-sizing: border-box;
}

.cover strong {
    font-weight: bold;
}

.cover h2 {
    font-size: 40px;
}

.best_top_13 ol li:hover .cover {
    transform: translateY(0);
    transition: all 1s;
}

.best_top_13 ul li:hover .cover {
    width: 320px;
    height: 200px;
    transform: translateY(0);
    transition: all 1s;
}

.best_top_13 .cover_wrap h2 {
    font-size: 20px;
}

.cover_wrap strong {
    font-size: 20px;
}

.best_top_13 .cover_wrap p {
    font-size: 18px;
}

.best_top_13 ul {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;

}

.best_top_13 ul li {
    width: 49%;
    height: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.best_top_13 ul li img {
    display: block;
    width: 100%;
}

.best_top_13 ul li:nth-child(4) img {
    width: 90%;
}

/* 이동버튼 */

/* best 6부터 14까지 */
.best_6_13 {
    width: 1320px;
    margin: 100px auto;
}

.best_6_13 h4 {
    font-size: 25px;
    margin-bottom: 20px;
}

.best_6_13 ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.best_6_13 ul li {
    width: 321px;
    height: 447px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EBE8E8;
    position: relative;
    transform: scale(1);
}

.best_6_13 ul li:hover img{
    overflow: hidden;
    transform: scale(1.1);
    transition: all 1s;
}

.best_6_13 ul li img {
    display: block;
    width: 100%;
}

.best_6_13 .bg_g {
    width: 99px;
    height: 42px;
    background-color: #BBBBBB;
    color: #fff;
    padding-top: 21px;
    font-size: 27px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
}

.explan_wrap {
    width: 100%;
    position: absolute;
    bottom: -160px;
    left: 0;
    line-height: 20px;
    overflow: hidden;
}

.best_6_13 h2 {
    width: 80%;
    font-size: 18px;
}

.best_6_13 p {
    font-size: 14px;
    padding-bottom: 10px;
    white-space: pre-line;
}

.best_6_13 strong {
    display: block;
    padding-top: 10px;
    font-size: 20px;
    border-top: 1px solid #6B6868;
}

.best_10_13 {
    padding-top: 200px;
}

.sub_visual {
    margin: 300px auto;
    height: 544px;
    background: url(../images/best/shipping.jpg) no-repeat center;
}

/* 재진행아이템 1부터 8까지 */
.again_best_1_8 {
    width: 1320px;
    margin: 0 auto;
}

.again_best_1_8 h4 {
    font-size: 25px;
    padding-bottom: 10px;
}

.again_best_1_8 span {
    display: block;
    font-size: 20px;
    padding-bottom: 20px;
}

.again_best_1_8 ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.again_best_1_8 ul li {
    width: 321px;
    height: 447px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EBE8E8;
    position: relative;
    transform: scale(1);
}

.again_best_1_8 ul li:hover img{
    overflow: hidden;
    transform: scale(1.1);
    transition: all 1s;
}

.again_best_1_8 ul li img {
    display: block;
    width: 100%;
}

.again_best_1_8 .bg_g {
    width: 99px;
    height: 42px;
    background-color: #BBBBBB;
    color: #fff;
    padding-top: 21px;
    font-size: 27px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
}

.explan_wrap {
    width: 100%;
    position: absolute;
    bottom: -160px;
    left: 0;
    line-height: 20px;
    overflow: hidden;
}

.again_best_1_8 h2 {
    width: 80%;
    font-size: 18px;
}

.again_best_1_8 p {
    font-size: 14px;
    padding-bottom: 10px;
    white-space: pre-line;
}

.again_best_1_8 strong {
    display: block;
    padding-top: 10px;
    font-size: 20px;
    border-top: 1px solid #6B6868;
}

.again_best_1_8 {
    padding-top: 200px;
}

#footer {
    background-color: #000;
    color: #fff;
}

.inner_footer {
    width: 1320px;
    margin: 0 auto;
    padding: 20px;
    white-space: pre-line;
    box-sizing: border-box;
}

.inner_footer ol {
    display: flex;
    justify-content: space-between;
}

.inner_footer ol li {
    width: 29%;
}

.inner_footer span {
    display: inline-block;
    padding-top: 20px;
    opacity: 0.5;
    box-sizing: border-box;
}

.footer_icon_wrap {
    width: 200px;
    display: flex;
    justify-content: space-around;
}

.footer_icon_wrap li:hover {
    opacity: 0.5;
}

.footer_icon_wrap img {
    width: 100%;
}